<h4>Update Product</h4>

<form [formGroup]="editProductForm" (ngSubmit)="onSubmit(editProductForm)">
  <div class="formRow">
    <div>
      <label>Product Name:</label>
    </div>
    <div>
      <input formControlName="productName" type="text" required>
    </div>
  </div>

  <div class="formRow">
    <div>
      <label>Price:</label>
    </div>
    <div>
      <input formControlName="price" type="number" required>
    </div>
  </div>

  <div class="formRow">
    <div>
      <label>Quantity:</label>
    </div>
    <div>
      <input formControlName="quantity" type="number" required>
    </div>
  </div>

  <div class="buttonRow">
    <button type="submit" [disabled]="!editProductForm.valid">Update Product</button>
  </div>
</form>
