<h4>Add Product</h4>

<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
  <div class="formRow">
    <div>
      <label>Product Name:</label>
    </div>
    <div>
      <input formControlName="productName">
    </div>
  </div>

  <div class="formRow">
    <div>
      <label>Price:</label>
    </div>
    <div>
      <input formControlName="price" type="number">
    </div>
  </div>

  <div class="formRow">
    <div>
      <label>Quantity:</label>
    </div>
    <div>
      <input formControlName="quantity" type="number">
    </div>
  </div>

  <div class="buttonRow">
    <button type="submit">Add Product</button>
  </div>
</form>
