.content {
    padding-left: 16px;
    padding-right: 16px;
}

.app-header {
  background-color: #498fab;
}

.app-header h2 {
  color: #ffffff;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #498fab;
}

li {
  float: left;
}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

    li a:hover {
      background-color: #111;
      cursor: pointer;
    }
